#D:\getlery-server\.gitignore
# Node.js 관련 파일들
node_modules/

# Python 가상 환경 폴더들
.venv/
env/
venv/

# Python 기본 파일들
*.pyc
__pycache__/

# 환경 변수 파일
.env

# Flask 관련 파일들
instance/
.pytest_cache/

# PyCharm 관련 파일들
.idea/
.vscode/

# nima 훈련 파일
nima/ckpts/epoch-4.pth

# 로그 파일
*.log

# 기타 불필요한 파일들
*.sqlite3
*.db

# Visual Studio Code 관련 파일들
*.code-workspace
.vscode/

# MacOS 관련 불필요한 파일들
.DS_Store
